<div class="white-wrapper display-flex">
<!--   <div
    id="map"
    data-markers="<%= @markers.to_json %>"
  ></div> -->
  <div class="container">
    <div class="row">
      <div class="col-xs-8 col-xs-offset-2">
        <div class="city-card-content">
          <div class="city-card">
            <%= image_tag "paris.jpg", class: "image-city"%>
          </div>
          <div class="city-name">
            <h3>Best Match: <%= @trip.destination %></h3>
          </div>
          <div class="trip-details">

          </div>
          <div class="save-trip">
            <%= link_to "Save", "" ,class: "btn-save" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
