<div class="white-wrapper">
  <div class="banner-city">
    <%= image_tag "https://kitt.lewagon.com/placeholder/cities/berlin", class: "image-city"%>
  </div>
  <div class="container text-center">
    <h1><%= @trip.destination %></h1>
  </div>
  <div
  id="map"
  style="width: 100%;
  height: 600px;"
  data-markers="<%= @markers.to_json %>"
></div>
</div>
