<%= content_for(:navbar_class, "navbar-home") %>
<div class="white-wrapper">
  <div class="banner-city">
    <%= image_tag "https://kitt.lewagon.com/placeholder/cities/berlin", class: "image-city"%>
  </div>
  <div class="container text-center">
    <h1>The Best Match: <%= @trip.destination %></h1>
  </div>
  <div
  <div
  id="map"
  data-markers="<%= @markers.to_json %>"
  ></div>
  ></div>
  <div class="container">
  </div>
</div>
