<div class="white-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-xs-6 col-xs-offset-5  ">
        <h3>Edit your profile %></h3>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-8 col-xs-offset-3  ">
        <div class="form-card">
          <%= render 'edit_form' %>
        </div>
