.city-card-info {
  background-color: white;
  border-bottom: 4px solid rgb(230, 79, 15);
  border-radius: 5px;
  box-shadow: 5px 5px 20px 0px rgba(210, 210, 210, 1);
  margin-top: 50px;
  height: 200px;
}

.city-card {
  background-size: cover !important;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}

.card-category {
  position: absolute;
  top: 30px;
  left: 20px;
  font-size: 20px;
  text-transform: uppercase;

  p,strong {
    color: white !important;
    line-spacing: 0.3em;
    font-size: 25px;
  }
}

.card-icone {
  display: flex;
  justify-content: space-around;
  align-items: center;

  button {
    background: transparent;
    padding: 10px;
  }

  .fa-check-circle {
    color: #gray;
    font-size: 25px;
  }

  .fa-trash-alt {
    color: $gray;
    font-size: 25px;
  }

  .fa-search{
    color: $gray;
    font-size: 25px;
  }
}

.book-it {
  color: $gray;
  font-weight: bold;
  &:hover {
      text-decoration: none;
    }
}
