.banner {
  height: 100vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-image: linear-gradient(rgba(232, 143, 53, 0.9), rgba(218, 67, 41, 0.9)), image-url("background.jpg");
  background-size: cover;
  background-position: center;
  h1 {
    color: white;
    font-weight: bold;
    font-size: 60px;
  }
  h2 {
    color: white;
    opacity: .8;
    font-size: 25px;
    font-weight: lighter;
    margin-bottom: 150px;
  }
  .btn {
    padding: 15px 50px;
  }
  .btn-home {
    background-color: transparent;
    font-weight: 400;
    font-size: 26px;
    color: white;
    border: 1px solid white;
    border-radius: 30px;
    padding: 15px 30px;
  }

  .btn-home:hover {
    padding: 15px 30px;
    background-color: white;
    color: rgb(180,180,180);
    border: 1px solid rgb(180,180,180);
    font-weight: 400;
    font-size: 26px;
  }
}




