
ul {
  padding-inline-start: 0px
}

.anotherclassforstyle-left {
  height: calc(55vh);
  background: transparent;
  border-right: 1px solid #D3D3D3;
  border-radius-top-left: 5px;
  border-radius-bottom-left: 5px;
  text-align: center;
  .fa-users {
    font-size: 40px;
  }

  h3 {
    color: #e54d32;
  }
}

.anotherclassforstyle-right {
  height: calc(55vh);
  background: transparent;
  border-left: 1px solid #D3D3D3;
  border-radius-top-right: 5px;
  border-radius-bottom-right: 5px;
  text-align: center;
  .fa-suitcase {
    font-size: 40px;
  }
  h3 {
    color: #e54d32;
  }
}

.trip-creator-col {
  height: calc(45vh);
  overflow: scroll;

}

.trip {
  height: 50px;
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.search-user{
  height: 50px;
  text-align: left;
  padding: 40px 0px 40px 40px;

}

.onboard {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0px 20px 0px;
  height: 100px;
}

.info-user {
  display: flex;
  align-items: center;
}

@media (min-width: 200px) {
  .info-user{
    display: flex;
    flex-wrap: wrap;
  }
  .page-title {
    display: flex;
    align-items: center;
    height: 100px;
    h1 {
      font-size: 24px;
    }
  }
  .for_render_form {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    border: 1px solid rgb(240,240,240);
    border-radius: 5px;
    margin: 20px 0px;
    .fa-quote-left {
      color: rgb(245,245,245);
      font-size: 40px;
    }
  }
}

@media (min-width: 400px) {


}

@media (min-width: 850px) {
  .user-city {
    display: flex;
    flex-wrap: nowrap;
  }
  .page-title {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 180px;
    .fa-quote-left {
      color: rgb(245,245,245);
      font-size: 40px;
    }
  }
  .for_render_form {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    border: 1px solid rgb(240,240,240);
    border-radius: 5px;
    margin: 70px 0px;
  }
}

.info-user .profil_avatar_photo {
  margin: 15px;
}

.user-city {
  padding-left: 40px;
  flex-grow: 1;
}

.user-name {
  padding-left: 10px;
  min-width: 100px;
  margin-top: 5px;
  width: 150px;
}

.form-action {
  padding-left: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-small {
  border: none;
  width: 50px;
}

.fa-plus {
  color: #00bd96;
}

.fa-minus {
  color: $red;
}

.btn-med {
  background-color: #00bd96;
  color: white;
  border-radius: 3px;
  padding: 10px 15px;
  &:hover {
    text-decoration: none;
    color: white;
    background-color: #00c99f;
  }
}

ul {
  list-style-type: none;
}

.profil_avatar_photo .avatar {
  width: 50px;
  border-radius: 50%;
}

.profile-card{
  background-color: white;
  border-bottom: 2px solid $orange;
  border-radius: 5px;
  box-shadow: 5px 5px 20px 0px rgba(210, 210, 210, 1);
  margin-top: 30px;
  margin: 40px;
}

.banner_new_trip {
  width: 100%;
  height: 350px;
  position: relative;
}


.value-proposition {
  border-bottom: 1px solid rgb(230, 79, 15);
  border-radius: 5px;
  text-align: center;
  background-color: $light-gray;
  .icone-new-trip {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 20px;
    .fa-users {
    }
    .fa-suitcase {
      font-size: 40px;
    }
    .fa-map-pin {
      font-size: 40px;
    }
  }
}

.home-made-banner {
  display: flex;
  justify-content: space-between;
  background-image: image-url("montagne.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  width: 100%;
  height: 30vh;
  h1 {
    color: white;
    font-size: 78px;
  }

  .home-made-banner-image {
    background-size: cover;
  }
  .middle-color {
    position: absolute;
    top: 80px;
    left: 270px;
    align-content: center;
  }
  .image-banner-new-trip {
    background-size: cover;
  }
}
