.trip-creator-col {
  height: calc(100vh - 140px);
  overflow: scroll;
}

.trip {
  height: 50px;
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.search-user{
  height: 50px;
  text-align: left;
  padding: 40px 0px 40px 40px;

}

.onboard {
  height: 50px;
  text-align: right;
  padding: 40px 0px 40px 0px;
}

.info-user {
  display: flex;
  align-items: center;
  padding: 5px;
}

@media (min-width: 200px) {
  .info-user{
    display: flex;
    flex-wrap: wrap;
  }
}

@media (min-width: 850px) {
  .user-city {
    display: flex;
    flex-wrap: nowrap;
  }
}
.info-user img {
  border-radius: 50%;
  height: 70px;
  width: 70px;
}

.info-user .profil_avatar_photo {
  margin: 15px;
}

.user-city {
  padding-left: 40px;
  flex-grow: 1;
}

.user-name {
  padding-left: 10px;
  min-width: 100px;
  margin-top: 5px;
  width: 150px;
}



.form-action {
  padding-left: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-small {
  border: none;
}

.fa-location-arrow {
  color: #00bd96;
}

.fa-trash-alt {
  color: $red;
}

.btn-med {
  background-color: #00bd96;
  color: white;
  border-radius: 3px;
  padding: 10px 15px;
  &:hover {
    text-decoration: none;
    color: white;
    background-color: #00c99f;
  }
}

ul {
  list-style-type: none;
}

.profil_avatar_photo .avatar {
  height: 40px;
  width: 40px;
}
