.city-card-content {
  background-color: white;
  border-bottom: 4px solid rgb(230, 79, 15);
  border-radius: 5px;
  box-shadow: 5px 5px 20px 0px rgba(210, 210, 210, 1);
  margin-top: 50px;
}

.city-card {
  height: 150px;
  overflow: hidden;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  p {
    line-height: 2px;
    color: $light-gray !important;
    font-size: 16px !important;
    font-weight: thin !important;

  }
  h3 {
    line-height: 25px;
    color: white !important;
    font-size: 45px !important;
    font-weight: bold !important;
  }
}


.city-name {
  color: white;
  border-bottom: 1px solid $light-gray;
  text-align: center;
}

.trip-details {
  overflow: scroll;
  height: calc(50vh - 80px);
}

.trip-detail-content{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid $light-gray;
  line-height: 12px;

}

.traveller {
  display:flex;
  flex-direction: column;
  align-items: flex-start;
}

.traveller-name {
  margin-bottom: 18px;
  p {
    font-size: 14px !important;
  }
}

.traveller-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  .travel-type {
    margin-right: 5px;
  }
  .travel-time-price {
    margin-left: 40px;
  }
}

.save-trip {
  background-color: $orange;
  font-weight: normal;
  width: 100%;
  height: 22px;
  text-align: center;
  .btn-save {
    color: white;
    font-size: 18px;
    &:hover {
      text-decoration: none;
    }
  }
}

.way-detail-price {
  grid-row: 2 / span 1;
  grid-column: 2 / span 1;
  p {
    color: $red;
  }
  text-align: center;
}

.display-flex {
  display: flex;
}

#map {
  margin: 10px;
  flex: 0 0 100vh;
  background-color: $light-gray;
  box-shadow: 5px 5px 20px 0px rgba(210, 210, 210, 1);
}
