.city-card-content {
  background-color: white;
  border-bottom: 4px solid rgb(230, 79, 15);
  border-radius: 8px;
  box-shadow: 5px 5px 20px 0px rgba(210, 210, 210, 1);
  margin-top: 30px;
}

.city-card {
  height: 200px;
  overflow: hidden;
  border-radius: 8px;
  color: $red;
  img {
    background-image: linear-gradient(150deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
    width: 100%;
  }
}

.city-name {
  border-bottom: 1px solid $light-gray;
  text-align: center;
  color: $red;
}

.trip-details {
  overflow: scroll;
  height: calc(50vh - 80px);
}

.trip-detail-content{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  align-items: center;
  padding: 5px;
  margin-bottom: 10px;
  border-bottom: 1px solid $light-gray;
  line-height: 58px;
  line-spacing: 0.1em;
}

.traveller-name {
  grid-row: 1 / span 1;
  grid-column: 1 / span 1;
  text-align: center;
}

.way-to-go {
  grid-row: 1 / span 1;
  grid-column: 2 / span 1;
  text-align: center;
}

.way-time {
  grid-row: 2 / span 1;
  grid-column: 1 / span 1;
  text-align: center;
}

.way-detail-price {
  grid-row: 2 / span 1;
  grid-column: 2 / span 1;
  p {
    color: $red;
  }
  text-align: center;
}

.display-flex {
  display: flex;
}

#map {
  margin: 10px;
  flex: 0 0 100vh;
  background-color: $light-gray;
  box-shadow: 5px 5px 20px 0px rgba(210, 210, 210, 1);
}
