<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>

<div class="white-wrapper">
  <div class="container">
    <div class= "cards-container">
      <div class="row">
        <div class="col-xs-4 col-sm-4 col-lg-4">
          <div class= "card-info">
            <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= image_path("transport.jpg") %>')">
              <div class="card-description">
                <p> text </p>
              </div>

